<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="/CSS/Login.css">
    <title>Login</title>
</head>
<body>
<aside class="aside-left">
  <header>
    <div class="logo">
      <a class="logo_link" href="/homepage">
        <h1>VHCOFFEE</h1>
      </a>
    </div>
  </header>
  <main>
    <form action="/perform_login" method="post">
      <label>Tên đăng nhập</label>
      <input type="text" name="username"/> <br>
      <label>Mật khẩu</label>
      <input type="password" name="password"/> <br>
      <button type="submit">Đăng nhập</button>
    </form>
  </main>
</aside>
</body>
</html>