<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Báo cáo doanh thu</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/CSS/Revenue.css">
</head>
<body>
<aside class="aside-left">
    <header>
        <div class="logo">
            <a class="logo_link" href="/homepage">
                <h1>VHCOFFEE</h1>
            </a>
        </div>
    </header>
    <main>
        <section class="category">
            <div class="category_list">
                <a href="/homepage" class="category_item">Danh sách bàn</a>
                <a href="/product" class="category_item">Quản lý sản phẩm</a>
                <a href="/viewQRCode" class="category_item">Quản lý QRCode</a>
                <a href="/revenue" class="category_item">Báo cáo doanh thu</a>
            </div>
        </section>
        <section class="inform">
            <h2 class="title">BÁO CÁO DOANH THU</h2>
            <div class="content">
                <p>Doanh thu năm:</p>
                <select id="yearSelect">
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select>
            </div>
            <canvas id="myChart"></canvas>
        </section>
    </main>
</aside>>

<script>
    $(document).ready(function() {
        function fetchRevenueData(year) {
            $.ajax({
                url: '/revenue/year?year='+year,
                type: 'GET',
                success: function(data) {
                    renderChart(data);
                },
                error: function(xhr, status, error) {
                    console.error('Error fetching revenue data:', error);
                }
            });
        }

        var myChart;
        // Function to render chart
        function renderChart(data) {
            const values = data;

            if (myChart){
                myChart.destroy()
            }
            var ctx = document.getElementById('myChart').getContext('2d');
            myChart = new Chart(ctx, {

                type: 'bar',
                data: {
                    labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9','Tháng 10','Tháng 11','Tháng 12'],
                    datasets: [{
                        label: 'VND',
                        data: values,
                        backgroundColor: 'rgb(75, 192, 192)',
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        // Call fetchRevenueData function with default year when document is ready
        const defaultYear = $('#yearSelect').val();
        fetchRevenueData(defaultYear);

        // Event listener for select change
        $('#yearSelect').on('change', function() {
            const selectedYear = $(this).val();
            fetchRevenueData(selectedYear);
        });
    });

</script>
</body>
</html>